# 项目：评估和清理英国电商公司销售数据

## 分析目标

此数据分析的目的是，根据市场销售数据，挖掘畅销产品，以便制定更有效的市场策略来提升营收。

本实战项目的目的在于练习评估数据干净和整洁度，并且基于评估结果，对数据进行清洗，从而得到可供下一步分析的数据。

## 简介

原始数据集记录了一家英国在线零售公司在2010年12月1日至2011年12月9日期间的所有交易情况，涵盖了该公司在全球不同国家和地区的业务数据。该公司主要销售覆盖各个场景的礼品，包括但不限于生日礼品、结婚纪念品、圣诞礼品等等。该公司的客户群体主要包括批发商和个人消费者，其中批发商占据了相当大的比例。

数据每列的含义如下：
- `InvoiceNo`: 发票号码。6位数，作为交易的唯一标识符。如果这个代码以字母“c”开头，表示这笔交易被取消。
- `StockCode`: 产品代码。5位数，作为产品的唯一标识符。
- `Description`: 产品名称。
- `Quantity`: 产品在交易中的数量。
- `InvoiceDate`: 发票日期和时间。交易发生的日期和时间。
- `UnitPrice`: 单价。价格单位为英镑（£）。
- `CustomerID`: 客户编号。5位数，作为客户的唯一标识符。
- `Country`: 国家名称。客户所居住的国家的名称。

## 读取数据

In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv("e_commerce.csv")

In [3]:
original_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

## 评估数据

评估数据整齐度

In [4]:
original_data.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
48280,540468,47563A,RETRO LONGBOARD IRONING BOARD COVER,1,1/7/2011 13:55,3.36,NaN,United Kingdom
244768,558542,82580,BATHROOM METAL SIGN,4,6/30/2011 12:23,0.55,13593.0,United Kingdom
488884,577855,21584,RETROSPOT SMALL TUBE MATCHES,1,11/22/2011 11:18,1.65,15877.0,United Kingdom
162776,550517,21937,STRAWBERRY PICNIC BAG,5,4/19/2011 8:17,2.95,14352.0,United Kingdom
443041,574686,23490,T-LIGHT HOLDER HANGING LOVE BIRD,2,11/6/2011 13:00,3.75,17608.0,United Kingdom
262263,559907,23230,WRAP ALPHABET DESIGN,25,7/13/2011 13:37,0.42,12766.0,Portugal
248733,558864,22189,CREAM HEART CARD HOLDER,4,7/4/2011 12:38,3.95,NaN,EIRE
358790,568163,22909,SET OF 20 VINTAGE CHRISTMAS NAPKINS,1,9/25/2011 12:34,0.85,14540.0,United Kingdom
186960,552894,22201,FRYING PAN BLUE POLKADOT,1,5/12/2011 10:53,4.25,14606.0,United Kingdom
422611,573096,23565,EGG CUP MILKMAID HELGA,12,10/27/2011 14:40,1.25,14004.0,United Kingdom

评估数据干净度

In [5]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 22.7+ MB

评估缺失数据

In [6]:
original_data[original_data["Description"].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
1988,536550,85044,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
2024,536552,20950,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
2025,536553,37461,NaN,3,12/1/2010 14:35,0.0,NaN,United Kingdom
2026,536554,84670,NaN,23,12/1/2010 14:35,0.0,NaN,United Kingdom
2406,536589,21777,NaN,-10,12/1/2010 16:50,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38,12/2/2010 14:42,0.0,NaN,United Kingdom
4348,536765,84952C,NaN,19,12/2/2010 14:43,0.0,NaN,United Kingdom
7187,536995,35951,NaN,57,12/3/2010 15:29,0.0,NaN,United Kingdom
7188,536996,22712,NaN,-20,12/3/2010 15:30,0.0,NaN,United Kingdom
7189,536997,22028,NaN,-20,12/3/2010 15:30,0.0,NaN,United Kingdom
7190,536998,85067,NaN,-6,12/3/2010 15:30,0.0,NaN,United Kingdom
7191,536999,21421,NaN,110,12/3/2010 15:32,0.0,NaN,United Kingdom
7192,537000,21414,NaN,-22,12/3/2010 15:32,0.0,NaN,United Kingdom
7193,537001,21653,NaN,-6,12/3/2010 15:33,0.0,NaN,United Kingdom
7194,537002,21651,NaN,70,12/3/2010 15:33,0.0,NaN,United Kingdom
7195,537003,85126,NaN,-2,12/3/2010 15:33,0.0,NaN,United Kingdom
7196,537004,21814,NaN,-30,12/3/2010 15:34,0.0,NaN,United Kingdom
7197,537005,21692,NaN,-70,12/3/2010 15:35,0.0,NaN,United Kingdom
7198,537006,21648,NaN,-130,12/3/2010 15:36,0.0,NaN,United Kingdom
7199,537007,21172,NaN,-80,12/3/2010 15:36,0.0,NaN,United Kingdom
7200,537008,21161,NaN,-120,12/3/2010 15:37,0.0,NaN,United Kingdom
7201,537009,84534B,NaN,-80,12/3/2010 15:38,0.0,NaN,United Kingdom
7202,537010,22162,NaN,-40,12/3/2010 15:38,0.0,NaN,United Kingdom
7203,537011,22139,NaN,-5,12/3/2010 15:38,0.0,NaN,United Kingdom
7204,537012,21535,NaN,-12,12/3/2010 15:39,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
497632,578431,22579,NaN,-18,11/24/2011 12:15,0.0,NaN,United Kingdom
497677,578456,22579,NaN,11,11/24/2011 12:29,0.0,NaN,United Kingdom
498597,578529,22087,NaN,-23,11/24/2011 14:29,0.0,NaN,United Kingdom
499156,578628,23541,NaN,20,11/24/2011 15:55,0.0,NaN,United Kingdom
499157,578629,22943,NaN,24,11/24/2011 15:56,0.0,NaN,United Kingdom
499169,578632,22579,NaN,4,11/24/2011 16:22,0.0,NaN,United Kingdom
499787,578693,21811,NaN,1,11/25/2011 9:38,0.0,NaN,United Kingdom
500161,578738,21638,NaN,-33,11/25/2011 11:33,0.0,NaN,United Kingdom
508796,579272,22812,NaN,2,11/29/2011 10:00,0.0,NaN,United Kingdom
510622,579460,21110,NaN,-151,11/29/2011 14:39,0.0,NaN,United Kingdom
511451,579500,22810,NaN,33,11/29/2011 16:14,0.0,NaN,United Kingdom
514205,579688,21116,NaN,-33,11/30/2011 13:51,0.0,NaN,United Kingdom
514287,579691,47503A,NaN,-5,11/30/2011 14:05,0.0,NaN,United Kingdom
514651,579738,21927,NaN,8,11/30/2011 14:26,0.0,NaN,United Kingdom
516189,579880,22947,NaN,5,11/30/2011 17:14,0.0,NaN,United Kingdom
517719,580087,84341B,NaN,-2,12/1/2011 14:27,0.0,NaN,United Kingdom
519967,580197,22696,NaN,6,12/2/2011 12:04,0.0,NaN,United Kingdom
521333,580359,20775,NaN,-35,12/2/2011 16:11,0.0,NaN,United Kingdom
522160,580379,72225C,NaN,-144,12/2/2011 17:57,0.0,NaN,United Kingdom
522162,580381,21758,NaN,-9,12/2/2011 17:58,0.0,NaN,United Kingdom
524473,580580,21804,NaN,10,12/5/2011 10:33,0.0,NaN,United Kingdom
524475,580588,21808,NaN,5,12/5/2011 10:35,0.0,NaN,United Kingdom
529667,580743,47591B,NaN,1,12/6/2011 9:30,0.0,NaN,United Kingdom
533711,581102,21803,NaN,20,12/7/2011 11:57,0.0,NaN,United Kingdom
533712,581103,22689,NaN,4,12/7/2011 11:58,0.0,NaN,United Kingdom
535322,581199,84581,NaN,-2,12/7/2011 18:26,0.0,NaN,United Kingdom
535326,581203,23406,NaN,15,12/7/2011 18:31,0.0,NaN,United Kingdom
535332,581209,21620,NaN,6,12/7/2011 18:35,0.0,NaN,United Kingdom
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom

In [7]:
original_data[(original_data["Description"].isnull()) & (original_data["UnitPrice"] != 0)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [8]:
original_data[original_data["CustomerID"].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
1447,536544,21790,VINTAGE SNAP CARDS,9,12/1/2010 14:32,1.66,NaN,United Kingdom
1448,536544,21791,VINTAGE HEADS AND TAILS CARD GAME,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1449,536544,21801,CHRISTMAS TREE DECORATION WITH BELL,10,12/1/2010 14:32,0.43,NaN,United Kingdom
1450,536544,21802,CHRISTMAS TREE HEART DECORATION,9,12/1/2010 14:32,0.43,NaN,United Kingdom
1451,536544,21803,CHRISTMAS TREE STAR DECORATION,11,12/1/2010 14:32,0.43,NaN,United Kingdom
1452,536544,21809,CHRISTMAS HANGING TREE WITH BELL,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1453,536544,21810,CHRISTMAS HANGING STAR WITH BELL,3,12/1/2010 14:32,2.51,NaN,United Kingdom
1454,536544,21811,CHRISTMAS HANGING HEART WITH BELL,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1455,536544,21821,GLITTER STAR GARLAND WITH BELLS,1,12/1/2010 14:32,7.62,NaN,United Kingdom
1456,536544,21822,GLITTER CHRISTMAS TREE WITH BELLS,1,12/1/2010 14:32,4.21,NaN,United Kingdom
1457,536544,21823,PAINTED METAL HEART WITH HOLLY BELL,2,12/1/2010 14:32,2.98,NaN,United Kingdom
1458,536544,21844,RED RETROSPOT MUG,2,12/1/2010 14:32,5.91,NaN,United Kingdom
1459,536544,21851,LILAC DIAMANTE PEN IN GIFT BOX,1,12/1/2010 14:32,4.21,NaN,United Kingdom
1460,536544,21870,I CAN ONLY PLEASE ONE PERSON MUG,1,12/1/2010 14:32,3.36,NaN,United Kingdom
1461,536544,21871,SAVE THE PLANET MUG,5,12/1/2010 14:32,3.36,NaN,United Kingdom
1462,536544,21874,GIN AND TONIC MUG,1,12/1/2010 14:32,3.36,NaN,United Kingdom
1463,536544,21879,HEARTS GIFT TAPE,1,12/1/2010 14:32,1.66,NaN,United Kingdom
1464,536544,21884,CAKES AND BOWS GIFT TAPE,1,12/1/2010 14:32,1.66,NaN,United Kingdom
1465,536544,21888,BINGO SET,1,12/1/2010 14:32,7.62,NaN,United Kingdom
1466,536544,21889,WOODEN BOX OF DOMINOES,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1467,536544,21892,TRADITIONAL WOODEN CATCH CUP GAME,3,12/1/2010 14:32,2.51,NaN,United Kingdom
1468,536544,21894,POTTING SHED SEED ENVELOPES,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1469,536544,21911,GARDEN METAL SIGN,1,12/1/2010 14:32,3.36,NaN,United Kingdom
1470,536544,21912,VINTAGE SNAKES & LADDERS,3,12/1/2010 14:32,7.62,NaN,United Kingdom
1471,536544,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,12/1/2010 14:32,7.62,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541511,581498,71053,WHITE MOROCCAN METAL LANTERN,1,12/9/2011 10:26,8.29,NaN,United Kingdom
541512,581498,72349b,SET/6 PURPLE BUTTERFLY T-LIGHTS,2,12/9/2011 10:26,4.13,NaN,United Kingdom
541513,581498,79321,CHILLI LIGHTS,10,12/9/2011 10:26,12.46,NaN,United Kingdom
541514,581498,82001s,SILVER RECORD COVER FRAME,2,12/9/2011 10:26,7.46,NaN,United Kingdom
541515,581498,82482,WOODEN PICTURE FRAME WHITE FINISH,4,12/9/2011 10:26,4.96,NaN,United Kingdom
541516,581498,82552,WASHROOM METAL SIGN,1,12/9/2011 10:26,2.46,NaN,United Kingdom
541517,581498,82580,BATHROOM METAL SIGN,1,12/9/2011 10:26,1.25,NaN,United Kingdom
541518,581498,82581,TOILET METAL SIGN,1,12/9/2011 10:26,1.25,NaN,United Kingdom
541519,581498,82600,N0 SINGING METAL SIGN,4,12/9/2011 10:26,4.13,NaN,United Kingdom
541520,581498,84029E,RED WOOLLY HOTTIE WHITE HEART.,4,12/9/2011 10:26,8.29,NaN,United Kingdom
541521,581498,84032A,CHARLIE+LOLA PINK HOT WATER BOTTLE,4,12/9/2011 10:26,5.79,NaN,United Kingdom
541522,581498,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,3,12/9/2011 10:26,3.29,NaN,United Kingdom
541523,581498,84375,SET OF 20 KIDS COOKIE CUTTERS,3,12/9/2011 10:26,4.13,NaN,United Kingdom
541524,581498,84509a,SET OF 4 ENGLISH ROSE PLACEMATS,1,12/9/2011 10:26,7.46,NaN,United Kingdom
541525,581498,84558a,3D DOG PICTURE PLAYING CARDS,1,12/9/2011 10:26,5.79,NaN,United Kingdom
541526,581498,84832,ZINC WILLIE WINKIE CANDLE STICK,26,12/9/2011 10:26,1.63,NaN,United Kingdom
541527,581498,84968e,SET OF 16 VINTAGE BLACK CUTLERY,1,12/9/2011 10:26,24.96,NaN,United Kingdom
541528,581498,84970s,HANGING HEART ZINC T-LIGHT HOLDER,1,12/9/2011 10:26,2.08,NaN,United Kingdom
541529,581498,84997a,CHILDRENS CUTLERY POLKADOT GREEN,2,12/9/2011 10:26,8.29,NaN,United Kingdom
541530,581498,84997b,CHILDRENS CUTLERY RETROSPOT RED,3,12/9/2011 10:26,8.29,NaN,United Kingdom
541531,581498,84997d,CHILDRENS CUTLERY POLKADOT PINK,1,12/9/2011 10:26,8.29,NaN,United Kingdom
541532,581498,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,1,12/9/2011 10:26,4.13,NaN,United Kingdom
541533,581498,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,1,12/9/2011 10:26,16.63,NaN,United Kingdom
541534,581498,85049a,TRADITIONAL CHRISTMAS RIBBONS,5,12/9/2011 10:26,3.29,NaN,United Kingdom
541535,581498,85049e,SCANDINAVIAN REDS RIBBONS,4,12/9/2011 10:26,3.29,NaN,United Kingdom
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,12/9/2011 10:26,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,12/9/2011 10:26,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,12/9/2011 10:26,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,12/9/2011 10:26,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,12/9/2011 10:26,1714.17,NaN,United Kingdom

In [9]:
original_data["Country"].value_counts()

United Kingdom          495266
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
China                      288
Singapore                  229
USA                        218
UK                         211
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United States               73
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
U.K.                         1
Name: Country, dtype: int64

In [10]:
original_data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [11]:
original_data[original_data["Quantity"] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
239,C536391,21484,CHICK GREY HOT WATER BOTTLE,-12,12/1/2010 10:24,3.45,17548.0,United Kingdom
240,C536391,22557,PLASTERS IN TIN VINTAGE PAISLEY,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
241,C536391,22553,PLASTERS IN TIN SKULLS,-24,12/1/2010 10:24,1.65,17548.0,United Kingdom
939,C536506,22960,JAM MAKING SET WITH JARS,-6,12/1/2010 12:38,4.25,17897.0,United Kingdom
1441,C536543,22632,HAND WARMER RED RETROSPOT,-1,12/1/2010 14:30,2.10,17841.0,United Kingdom
1442,C536543,22355,CHARLOTTE BAG SUKI DESIGN,-2,12/1/2010 14:30,0.85,17841.0,United Kingdom
1973,C536548,22244,3 HOOK HANGER MAGIC GARDEN,-4,12/1/2010 14:33,1.95,12472.0,Germany
1974,C536548,22242,5 HOOK HANGER MAGIC TOADSTOOL,-5,12/1/2010 14:33,1.65,12472.0,Germany
1975,C536548,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-1,12/1/2010 14:33,2.95,12472.0,Germany
1976,C536548,22892,SET OF SALT AND PEPPER TOADSTOOLS,-7,12/1/2010 14:33,1.25,12472.0,Germany
1977,C536548,22654,DELUXE SEWING KIT,-1,12/1/2010 14:33,5.95,12472.0,Germany
1978,C536548,22767,TRIPLE PHOTO FRAME CORNICE,-2,12/1/2010 14:33,9.95,12472.0,Germany
1979,C536548,22333,RETROSPOT PARTY BAG + STICKER SET,-1,12/1/2010 14:33,1.65,12472.0,Germany
1980,C536548,22245,"HOOK, 1 HANGER ,MAGIC GARDEN",-2,12/1/2010 14:33,0.85,12472.0,Germany
1981,C536548,22077,6 RIBBONS RUSTIC CHARM,-6,12/1/2010 14:33,1.65,12472.0,Germany
1982,C536548,22631,CIRCUS PARADE LUNCH BOX,-1,12/1/2010 14:33,1.95,12472.0,Germany
1983,C536548,22168,ORGANISER WOOD ANTIQUE WHITE,-2,12/1/2010 14:33,8.50,12472.0,Germany
1984,C536548,21218,RED SPOTTY BISCUIT TIN,-3,12/1/2010 14:33,3.75,12472.0,Germany
1985,C536548,20957,PORCELAIN HANGING BELL SMALL,-1,12/1/2010 14:33,1.45,12472.0,Germany
1986,C536548,22580,ADVENT CALENDAR GINGHAM SACK,-4,12/1/2010 14:33,5.95,12472.0,Germany
2406,536589,21777,NaN,-10,12/1/2010 16:50,0.00,NaN,United Kingdom
3170,C536606,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-2,12/2/2010 9:10,2.95,14092.0,United Kingdom
3338,C536622,22752,SET 7 BABUSHKA NESTING BOXES,-2,12/2/2010 10:37,8.50,12471.0,Germany
3410,C536625,22839,3 TIER CAKE TIN GREEN AND CREAM,-2,12/2/2010 10:46,14.95,14766.0,United Kingdom
...,...,...,...,...,...,...,...,...
538565,C581409,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,-2,12/8/2011 14:08,3.29,12476.0,Germany
538566,C581409,85199L,LARGE HANGING IVORY & RED WOOD BIRD,-1,12/8/2011 14:08,0.65,12476.0,Germany
538567,C581409,85127,SMALL SQUARE CUT GLASS CANDLESTICK,-5,12/8/2011 14:08,4.95,12476.0,Germany
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.00,NaN,United Kingdom
540072,C581460,22197,POPCORN HOLDER,-5,12/8/2011 18:48,0.72,13078.0,United Kingdom
540073,C581460,22107,PIZZA PLATE IN BOX,-1,12/8/2011 18:48,1.25,13078.0,United Kingdom
540078,C581462,16219,HOUSE SHAPE PENCIL SHARPENER,-48,12/8/2011 18:51,0.06,12985.0,United Kingdom
540079,C581462,21642,ASSORTED TUTTI FRUTTI PEN,-72,12/8/2011 18:51,0.29,12985.0,United Kingdom
540080,C581463,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,-2,12/8/2011 18:56,7.95,17526.0,United Kingdom
540081,C581464,23458,DOLLY CABINET 3 DRAWERS,-1,12/8/2011 18:57,14.95,15951.0,United Kingdom
540082,C581464,71477,COLOURED GLASS STAR T-LIGHT HOLDER,-6,12/8/2011 18:57,3.95,15951.0,United Kingdom
540083,C581465,23660,HENRIETTA HEN MUG,-2,12/8/2011 18:59,1.65,15755.0,United Kingdom
540084,C581465,22171,3 HOOK PHOTO SHELF ANTIQUE WHITE,-1,12/8/2011 18:59,8.50,15755.0,United Kingdom
540085,C581465,21876,POTTERING MUG,-4,12/8/2011 18:59,1.65,15755.0,United Kingdom
540086,C581465,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-3,12/8/2011 18:59,2.95,15755.0,United Kingdom
540087,C581466,22838,3 TIER CAKE TIN RED AND CREAM,-1,12/8/2011 19:20,14.95,13883.0,United Kingdom
540088,C581466,22720,SET OF 3 CAKE TINS PANTRY DESIGN,-2,12/8/2011 19:20,4.95,13883.0,United Kingdom
540089,C581466,21216,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",-1,12/8/2011 19:20,4.95,13883.0,United Kingdom
540090,C581466,21535,RED RETROSPOT SMALL MILK JUG,-2,12/8/2011 19:20,2.55,13883.0,United Kingdom
540091,C581466,21232,STRAWBERRY CERAMIC TRINKET POT,-1,12/8/2011 19:20,1.25,13883.0,United Kingdom
540141,C581468,21314,SMALL GLASS HEART TRINKET POT,-10,12/8/2011 19:26,2.10,13599.0,United Kingdom
540142,C581468,22098,BOUDOIR SQUARE TISSUE BOX,-12,12/8/2011 19:26,0.39,13599.0,United Kingdom
540176,C581470,23084,RABBIT NIGHT LIGHT,-4,12/8/2011 19:28,2.08,17924.0,United Kingdom
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,12/9/2011 9:27,2.08,16446.0,United Kingdom
540448,C581490,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,12/9/2011 9:57,1.95,14397.0,United Kingdom
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

In [12]:
original_data[(original_data["Quantity"] < 0) & (original_data["InvoiceNo"].str[0] != "C") & (original_data["UnitPrice"] != 0)]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [13]:
original_data[original_data["UnitPrice"] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,8/12/2011 14:51,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,8/12/2011 14:52,-11062.06,NaN,United Kingdom

In [14]:
cleand_data = original_data.copy()
cleand_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [18]:
cleand_data["InvoiceDate"] = pd.to_datetime(cleand_data["InvoiceDate"])
cleand_data["InvoiceDate"]

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
5        2010-12-01 08:26:00
6        2010-12-01 08:26:00
7        2010-12-01 08:28:00
8        2010-12-01 08:28:00
9        2010-12-01 08:34:00
10       2010-12-01 08:34:00
11       2010-12-01 08:34:00
12       2010-12-01 08:34:00
13       2010-12-01 08:34:00
14       2010-12-01 08:34:00
15       2010-12-01 08:34:00
16       2010-12-01 08:34:00
17       2010-12-01 08:34:00
18       2010-12-01 08:34:00
19       2010-12-01 08:34:00
20       2010-12-01 08:34:00
21       2010-12-01 08:34:00
22       2010-12-01 08:34:00
23       2010-12-01 08:34:00
24       2010-12-01 08:34:00
25       2010-12-01 08:35:00
26       2010-12-01 08:45:00
27       2010-12-01 08:45:00
28       2010-12-01 08:45:00
29       2010-12-01 08:45:00
                 ...
541879   2011-12-09 12:31:00
541880   2011-12-09 12:31:00
541881   2011-12-09 12:31:00
541882   2011-12-09 12:31:00
541883   2011-12-09 12:31:00
541884   2011-12-09 12:31:00
541885   2011-12-09 12:31:00
541886   2011-12-09 12:31:00
541887   2011-12-09 12:31:00
541888   2011-12-09 12:31:00
541889   2011-12-09 12:31:00
541890   2011-12-09 12:49:00
541891   2011-12-09 12:49:00
541892   2011-12-09 12:49:00
541893   2011-12-09 12:49:00
541894   2011-12-09 12:50:00
541895   2011-12-09 12:50:00
541896   2011-12-09 12:50:00
541897   2011-12-09 12:50:00
541898   2011-12-09 12:50:00
541899   2011-12-09 12:50:00
541900   2011-12-09 12:50:00
541901   2011-12-09 12:50:00
541902   2011-12-09 12:50:00
541903   2011-12-09 12:50:00
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [19]:
cleand_data["CustomerID"] = cleand_data["CustomerID"].astype(str)
cleand_data["CustomerID"]

0         17850
1         17850
2         17850
3         17850
4         17850
5         17850
6         17850
7         17850
8         17850
9         13047
10        13047
11        13047
12        13047
13        13047
14        13047
15        13047
16        13047
17        13047
18        13047
19        13047
20        13047
21        13047
22        13047
23        13047
24        13047
25        13047
26        12583
27        12583
28        12583
29        12583
          ...
541879    15804
541880    15804
541881    15804
541882    15804
541883    15804
541884    15804
541885    15804
541886    15804
541887    15804
541888    15804
541889    15804
541890    13113
541891    13113
541892    13113
541893    13113
541894    12680
541895    12680
541896    12680
541897    12680
541898    12680
541899    12680
541900    12680
541901    12680
541902    12680
541903    12680
541904    12680
541905    12680
541906    12680
541907    12680
541908    12680
Name: CustomerID, Length: 541909, dtype: object

In [22]:
cleand_data = cleand_data.dropna(subset = ["Description"])
cleand_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,178,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,178,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,178,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,178,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,178,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,178,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,178,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,178,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,178,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,130,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,130,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,130,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,130,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,130,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,130,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,130,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,130,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,130,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,130,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,130,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,130,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,130,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,130,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,130,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,130,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,130,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,125,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,125,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,125,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,125,France
...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,158,United Kingdom
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,158,United Kingdom
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,158,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,158,United Kingdom
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,158,United Kingdom
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,158,United Kingdom
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,158,United Kingdom
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,158,United Kingdom
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,158,United Kingdom
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,158,United Kingdom
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,158,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,131,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,131,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,131,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,131,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,126,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,126,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,126,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,126,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,126,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,126,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,126,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,126,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,126,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,126,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,126,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,126,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,126,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,126,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,126,France

In [23]:
cleand_data["Description"].isnull().sum()

0

In [24]:
cleand_data["Country"] = cleand_data["Country"].replace({"USA" : "United States"})

In [25]:
len(cleand_data[cleand_data["Country"] == "USA"])

0

In [26]:
cleand_data["Country"] = cleand_data["Country"].replace({"UK" : "United Kingdom" , "U.K." : "United Kingdom"})

In [27]:
print(len(cleand_data[cleand_data["Country"] == "UK"]))
print(len(cleand_data[cleand_data["Country"] == "U.K."]))

0
0

In [28]:
cleand_data = cleand_data[cleand_data["Quantity"] >= 0]

In [29]:
len(cleand_data[cleand_data["Quantity"] < 0])

0

In [30]:
cleand_data = cleand_data[cleand_data["UnitPrice"] >= 0]

In [31]:
len(cleand_data[cleand_data["UnitPrice"] < 0])

0

## 保存清理后的数据

In [33]:
cleand_data.to_csv("e_commerce_cleaned.csv" , index = False)

In [34]:
pd.read_csv("e_commerce_cleaned.csv").head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,178.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,178.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,178.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,178.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,178.0,United Kingdom